#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: $blue;
    left: 50%;
    transform: translateX(calc(250px / 2));
    padding: 50px 25px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 850px) {
        padding-top: 22px;
        transform: none;
        right: 0;
        left: initial;
    }

    display: grid;
    grid-template-rows: 25px auto 25px;
    grid-gap: 25px;

    visibility: hidden;

    &.active {
        visibility: visible;
    }

    @import 'menu/toggle';
    @import 'menu/pages';
    @import 'menu/legal';
    @import 'menu/aesthetics';
}
