#footer {
    background-color: $darkblue;
    padding: 25px 0;

    .container {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 15px;

        @media screen and (min-width: 768px) {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }

        @import 'footer/copyright';
        @import 'footer/legal';
    }
}
