
        <!-- THE FOOTER -->
        <footer id="footer">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE COPYRIGHT -->
                <p id="copyright">
                    This ActivityPub Relay is a project of
                    <a href="https://honeytreetech.com" id="copyright-owner"><span>Honeytree Technologies</span>.</a>
                </p>
                <!-- END COPYRIGHT -->

                <!-- THE LEGAL NAVIGATION -->
                <nav id="legal">
                    <a href="/privacy-policy" class="menu-item">Privacy Policy</a>
                    <a href="/terms-of-service" class="menu-item">Terms of Service</a>
                </nav>
                <!-- END LEGAL NAVIGATION -->
            </div>
            <!-- END CONTAINER -->
        </footer>
        <!-- END FOOTER -->
        <script src="/js/home/menu.js"></script>
    </body>
</html>